<template>
  <li class="murr-comment__item">
    <comment-show
      v-if="!isDeleted"
      v-show="!isHidden"
      :item="item"
      :onToggleTreeComment="onToggleTreeComment"
      :onToggleDelete="onToggleDelete"
    >
      <template v-if="item.children.length" v-slot:children>
        <ul class="murr-comment__list murr-comment__list--children">
          <comment-item
            v-for="children in item.children"
            :key="children.id"
            :item="children"
          />
        </ul>
      </template>
    </comment-show>

    <comment-deleted
      v-else
      v-show="!isHidden"
      :item="item"
      :onToggleTreeComment="onToggleTreeComment"
    >
      <template v-if="item.children.length" v-slot:children>
        <ul class="murr-comment__list murr-comment__list--children">
          <comment-item
            v-for="children in item.children"
            :key="children.id"
            :item="children"
          />
        </ul>
      </template>
    </comment-deleted>

    <comment-hide
      v-show="isHidden"
      :item="item"
      :onToggleTreeComment="onToggleTreeComment"
      :isDeleted="isDeleted"
    />
  </li>
</template>

<script>
import CommentShow from "./comment-show.vue";
import CommentHide from "./comment-hide.vue";
import CommentDeleted from "./comment-deleted.vue";

export default {
  name: "CommentItem",
  props: {
    item: {
      required: true,
      type: Object,
    },
  },
  data: () => ({
    isHidden: false,
    isDeleted: false,
  }),
  created() {
    this.isDeleted = !!this.item.deleted;
    if (this.isDeleted && this.item.children.length > 0) this.onToggleTreeComment();
  },
  methods: {
    onToggleTreeComment() {
      this.isHidden = !this.isHidden;
    },
    onToggleDelete() {
      this.isDeleted = !this.isDeleted;
    },
  },
  components: {
    CommentShow,
    CommentHide,
    CommentDeleted,
  },
};
</script>
