<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Мурренган" />
    <meta property="og:url" content="https://www.murrengan.ru/" />
    <meta property="og:title" content="Мурренган" />
    <meta property="og:image" content="<%= BASE_URL %>img/share-logo.jpg" />
    <meta property="og:image:width" content="64" />
    <meta property="og:image:height" content="64" />

    <link
      rel="shortcut icon"
      href="<%= BASE_URL %>favicon.png"
      type="image/x-icon"
    />
    <link rel="icon" href="<%= BASE_URL %>favicon.png" />
    <link rel="image_src" href="<%= BASE_URL %>img/share-logo.jpg" />

    <meta name="viewport" content="width=device-width,initial-scale=0.5" />
    <title>Мурренган</title>
  </head>
  <body>
    <noscript>
      <strong
        >Для работы нужен JavaScript. Включи для продолжения работы</strong
      >
      <strong
        >We're sorry but murr_front doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>

    <script src="//www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit"></script>
    <script src="//apis.google.com/js/api:client.js"></script>
  </body>
</html>
